In [1]:
import os
exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())

21/10/23 22:21:20 WARN Utils: Your hostname, Sumans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.100 instead (on interface en0)
21/10/23 22:21:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/10/23 22:21:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.0.3
      /_/

Using Python version 3.8.2 (default, Apr  8 2021 23:19:18)
SparkSession available as 'spark'.

#### First let's read in the processed and cleansed data

In [2]:
sc.addFile('/Users/sumangangopadhyay/complex-spark-transformations/config.py')

In [3]:
import config as cf
from pyspark.sql import functions as func
from pyspark.sql.types import IntegerType

In [4]:
clean_data_path = cf.clean_data_path()
primary_response_variables = cf.primary_response_variables().split(',')
secondary_response_variables = cf.secondary_response_variables().split(',')
primary_explanatory_variables = cf.primary_explanatory_variables().split(',')

In [5]:
df = spark.read.csv(clean_data_path, header=True)

#### Let us look for seasonality, i.e. if the incidents of violation are more in particular month(s). Note how the Issue_Month column is sorted using type casting, since this column wasn't derived as an integer before

In [6]:
df.groupBy(df.Issue_Month).count().orderBy(df.Issue_Month.cast(IntegerType())).show()

21/10/23 22:21:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+-------+
|Issue_Month|  count|
+-----------+-------+
|          1| 877365|
|          2| 826967|
|          3| 964737|
|          4| 888402|
|          5|1020244|
|          6| 852187|
|          7|    370|
|          8|    309|
|          9|    367|
|         10|    274|
|         11|    338|
|         12|    358|
+-----------+-------+

#### It is quite clear that the violations are most common during the first half of the year, so let's dig deeper in the first half

In [7]:
df_first6months = df.filter((df.Issue_Month.cast(IntegerType()) >= 1) \
                           | (df.Issue_Month.cast(IntegerType()) <= 6))

In [8]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofMonth).count()

In [9]:
df_temp.columns

['Issue_DayofMonth', 'count']

In [10]:
df_temp.createOrReplaceTempView('t_count_per_day_of_month')

In [11]:
df_temp_standardised = spark.sql("select \
                                 t1.Issue_DayofMonth, t1.count \
,round((t1.count - t2.avg_issue_count)/t2.stddev_issue_count,0) as standardised_issue_count \
,round((t1.count - t2.min_count)/(t2.max_count - t2.min_count),0) as normalised_issue_count \
from t_count_per_day_of_month t1 \
join \
(select avg(count) as avg_issue_count, stddev(count) as stddev_issue_count, min(count) as min_count \
,max(count) as max_count from t_count_per_day_of_month)t2 \
on 1=1")

In [12]:
df_temp_standardised.orderBy(df_temp_standardised.Issue_DayofMonth.cast(IntegerType())).show(40)

+----------------+------+------------------------+----------------------+
|Issue_DayofMonth| count|standardised_issue_count|normalised_issue_count|
+----------------+------+------------------------+----------------------+
|               1|192311|                     1.0|                   1.0|
|               2|195915|                     1.0|                   1.0|
|               3|225398|                     2.0|                   1.0|
|               4|179977|                     0.0|                   1.0|
|               5|162463|                     0.0|                   1.0|
|               6|211419|                     1.0|                   1.0|
|               7|179266|                     0.0|                   1.0|
|               8|187606|                     0.0|                   1.0|
|               9|170336|                     0.0|                   1.0|
|              10|182476|                     0.0|                   1.0|
|              11|166438|                     0.0|                   1.0|
|              12|162547|                     0.0|                   1.0|
|              13|202336|                     1.0|                   1.0|
|              14|140262|                    -1.0|                   0.0|
|              15|171100|                     0.0|                   1.0|
|              16|190189|                     0.0|                   1.0|
|              17|195997|                     1.0|                   1.0|
|              18|160471|                     0.0|                   1.0|
|              19|170672|                     0.0|                   1.0|
|              20|216504|                     1.0|                   1.0|
|              21|190748|                     0.0|                   1.0|
|              22|170821|                     0.0|                   1.0|
|              23|201773|                     1.0|                   1.0|
|              24|207561|                     1.0|                   1.0|
|              25|154025|                    -1.0|                   1.0|
|              26|158211|                    -1.0|                   1.0|
|              27|216891|                     1.0|                   1.0|
|              28|153615|                    -1.0|                   1.0|
|              29| 81421|                    -3.0|                   0.0|
|              30|131880|                    -1.0|                   0.0|
|              31|101289|                    -2.0|                   0.0|
+----------------+------+------------------------+----------------------+

#### From the Standardised scores of Days of Months above, it seems that the violations are more common in the start and end of the months

In [13]:
df.columns

['Summons_Number',
 'Plate_ID',
 'Registration_State',
 'Plate_Type',
 'Violation_Code',
 'Vehicle_Body_Type',
 'Vehicle_Make',
 'Issuing_Agency',
 'Street_Code1',
 'Street_Code2',
 'Street_Code3',
 'Vehicle_Expiration_Date',
 'Violation_Location',
 'Violation_Precinct',
 'Issuer_Precinct',
 'Issuer_Code',
 'Issuer_Command',
 'Issuer_Squad',
 'Violation_Time',
 'Time_First_Observed',
 'Violation_County',
 'Violation_In_Front_Of_Or_Opposite',
 'House_Number',
 'Street_Name',
 'Intersecting_Street',
 'Date_First_Observed',
 'Law_Section',
 'Sub_Division',
 'Violation_Legal_Code',
 'Vehicle_Color',
 'Vehicle_Year',
 'Meter_Number',
 'Feet_From_Curb',
 'Violation_Post_Code',
 'Violation_Description',
 'Violation_AM_or_PM',
 'Issue_Date',
 'Issue_Year',
 'Issue_Month',
 'Issue_DayofWeek',
 'Issue_DayofMonth',
 'Violation_Time_Hour']

In [14]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofWeek).count()

In [15]:
df_temp.createOrReplaceTempView('t_count_per_day_of_week')

In [16]:
df_temp.columns

['Issue_DayofWeek', 'count']

In [17]:
df_temp_standardised = spark.sql("select \
                                 t1.Issue_DayofWeek, t1.count \
,round((t1.count - t2.avg_issue_count)/t2.stddev_issue_count,0) as standardised_issue_count \
,round((t1.count - t2.min_count)/(t2.max_count - t2.min_count),0) as normalised_issue_count \
from t_count_per_day_of_week t1 \
join \
(select avg(count) as avg_issue_count, stddev(count) as stddev_issue_count, min(count) as min_count \
,max(count) as max_count from t_count_per_day_of_week)t2 \
on 1=1")

In [18]:
df_temp_standardised.orderBy(df_temp_standardised.Issue_DayofWeek.cast(IntegerType())).show(40)

+---------------+------+------------------------+----------------------+
|Issue_DayofWeek| count|standardised_issue_count|normalised_issue_count|
+---------------+------+------------------------+----------------------+
|              1|218238|                    -2.0|                   0.0|
|              2|869368|                     0.0|                   1.0|
|              3|961584|                     1.0|                   1.0|
|              4|927707|                     1.0|                   1.0|
|              5|962045|                     1.0|                   1.0|
|              6|932620|                     1.0|                   1.0|
|              7|560356|                    -1.0|                   0.0|
+---------------+------+------------------------+----------------------+

#### Quite expectedly, the violations are more during the weekdays

#### Let us now switch our attention towards a more fine-grained view to see if the violations of specific types (Laws) are being committed by specific type of vehicles (based on their registration states) at specific places (counties where these violations occured)

In [48]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofWeek,\
                                 df_first6months.Violation_County,\
                                 df_first6months.Law_Section,\
                                 df_first6months.Registration_State)\
.count()

#### To observe the distribution of violations per Law Section, County and Registration, let's pivot the count of violations by days of week. Also we are only keeping those combinations for which violations exist throughout the week

In [21]:
df_pivot = df_temp.groupBy('Law_Section','Violation_County','Registration_State').pivot('Issue_DayofWeek')\
.agg(func.sum('count').alias('count'))
df_pivot = df_pivot.dropna(how='any')
df_pivot.show(10)

+-----------+----------------+------------------+---+----+----+----+----+----+----+
|Law_Section|Violation_County|Registration_State|  1|   2|   3|   4|   5|   6|   7|
+-----------+----------------+------------------+---+----+----+----+----+----+----+
|        408|              BX|                CT|621|1767|1804|1533|1839|1889|1801|
|        408|               Q|                ND|  1|   2|  11|   5|   7|   8|   5|
|       1111|              BX|                NC| 26|  19|  24|  26|  25|  34|  25|
|       1111|              BX|                VA| 26|  33|  37|  35|  37|  38|  37|
|        408|               R|                NJ|141| 529| 516| 616| 549| 546| 307|
|        408|              BX|                IA|  3|  23|  30|  20|  22|  26|  18|
|       1111|              BX|                CA|  4|   5|   8|   2|   8|   5|   5|
|        408|               K|                WA| 34| 232| 265| 169| 220| 224| 141|
|        408|               K|                NV|  9|  27|  36|  22|  30|  33|  24|
|       1111|              BK|                DC| 15|   7|   2|   2|   5|   5|  11|
+-----------+----------------+------------------+---+----+----+----+----+----+----+
only showing top 10 rows

In [30]:
df_temp.createOrReplaceTempView('max_violation_for_combination')

In [35]:
df_temp.filter((df_temp.Violation_County == 'BX') \
              & (df_temp.Law_Section == '408') & (df_temp.Registration_State == 'MD'))\
.orderBy('Issue_DayofWeek').show(100)

+---------------+----------------+-----------+------------------+-----+
|Issue_DayofWeek|Violation_County|Law_Section|Registration_State|count|
+---------------+----------------+-----------+------------------+-----+
|              1|              BX|        408|                MD|  159|
|              2|              BX|        408|                MD|  438|
|              3|              BX|        408|                MD|  475|
|              4|              BX|        408|                MD|  355|
|              5|              BX|        408|                MD|  432|
|              6|              BX|        408|                MD|  463|
|              7|              BX|        408|                MD|  504|
+---------------+----------------+-----------+------------------+-----+

In [38]:
spark.sql("select t1.* \
from \
(select Law_Section as t1_Law_Section, Violation_County as t1_Violation_County\
, Registration_State as t1_Registration_State, max(count) as t1_max_count \
from max_violation_for_combination group by Law_Section, Violation_County, Registration_State)t1 \
join \
(select Law_Section, Violation_County, Registration_State, count from max_violation_for_combination)t2 \
on t2.Law_Section = t1.t1_Law_Section \
and t2.Violation_County = t1.t1_Violation_County \
and t2.Registration_State = t1.t1_Registration_State \
and t2.count = t1.t1_max_count").orderBy('t1_max_count',ascending=False).show(10)

+--------------+-------------------+---------------------+------------+
|t1_Law_Section|t1_Violation_County|t1_Registration_State|t1_max_count|
+--------------+-------------------+---------------------+------------+
|           408|                 NY|                   NY|      233692|
|           408|                  K|                   NY|      164702|
|           408|                  Q|                   NY|      139776|
|           408|                 BX|                   NY|       78039|
|          1180|                 BK|                   NY|       54279|
|           408|                 NY|                   NJ|       49157|
|          1180|                 QN|                   NY|       45226|
|          1180|                 BX|                   NY|       15586|
|          1111|                 QN|                   NY|       12380|
|           408|                  K|                   NJ|       12237|
+--------------+-------------------+---------------------+------------+
only showing top 10 rows

#### The above result shows that the Law 408 was the most violated in the NY county and by the vehicles registered in the state NY. This is quite expected since the entire data set is about the New York State. Let us see which combination comes on top if we take out NY from the data

In [58]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofWeek,\
                                 df_first6months.Violation_County,\
                                 df_first6months.Law_Section,\
                                 df_first6months.Registration_State)\
.count()

In [59]:
df_temp = df_temp.filter((df_temp.Registration_State != 'NY')&(df_temp.Violation_County != 'NY'))

In [61]:
df_temp.createOrReplaceTempView('max_violation_for_combination')

In [62]:
spark.sql("select t1.* \
from \
(select Law_Section as t1_Law_Section, Violation_County as t1_Violation_County\
, Registration_State as t1_Registration_State, max(count) as t1_max_count \
from max_violation_for_combination group by Law_Section, Violation_County, Registration_State)t1 \
join \
(select Law_Section, Violation_County, Registration_State, count from max_violation_for_combination)t2 \
on t2.Law_Section = t1.t1_Law_Section \
and t2.Violation_County = t1.t1_Violation_County \
and t2.Registration_State = t1.t1_Registration_State \
and t2.count = t1.t1_max_count").orderBy('t1_max_count',ascending=False).show(10)

+--------------+-------------------+---------------------+------------+
|t1_Law_Section|t1_Violation_County|t1_Registration_State|t1_max_count|
+--------------+-------------------+---------------------+------------+
|           408|                  K|                   NJ|       12237|
|           408|                  K|                   PA|        6896|
|           408|                  Q|                   NJ|        6676|
|           408|                 BX|                   NJ|        6477|
|          1180|                 BK|                   NJ|        4153|
|           408|                  K|                   FL|        3482|
|           408|                 BX|                   PA|        3418|
|           408|                  Q|                   PA|        3254|
|           408|                  Q|                   FL|        2126|
|           408|                  K|                   CT|        2122|
+--------------+-------------------+---------------------+------------+
only showing top 10 rows

#### We can see from above that once again the Law 408 was the most violated but in the K county and by the vehicles registered in the state NJ.

#### Since the number of rows at this level will be very high for visual inspection, we reduce the group to one attribute only

In [23]:
df_pivot = df_temp.groupBy('Law_Section').pivot('Issue_DayofWeek').sum('count')
df_pivot = df_pivot.dropna(how='any')
df_pivot.show(10)

+-----------+------+------+------+------+------+------+------+
|Law_Section|     1|     2|     3|     4|     5|     6|     7|
+-----------+------+------+------+------+------+------+------+
|       1111| 34443| 35862| 34880| 38101| 39287| 42399| 33278|
|        408|183795|716190|798817|742957|791164|750898|527078|
+-----------+------+------+------+------+------+------+------+

#### The above cell shows that the Law 408 is the most violated throughout the week

In [24]:
df_pivot = df_temp.groupBy('Violation_County').pivot('Issue_DayofWeek').sum('count')
df_pivot = df_pivot.dropna(how='any')
df_pivot.show(100)

+----------------+-----+------+------+------+------+------+------+
|Violation_County|    1|     2|     3|     4|     5|     6|     7|
+----------------+-----+------+------+------+------+------+------+
|               K|48271|180749|206674|171812|206556|184264|126507|
|              MN| 2361|  6931|  6944|  7133|  7213|  7925|  2414|
|               Q|31438|149151|158740|159233|163532|155902|121437|
|              BX|32732|109182|118499|110442|119448|121496| 77730|
|              QN|13373| 49600| 53168| 63327| 56714| 62787| 13225|
|              BK|12231| 66244| 70032| 78169| 73213| 73937| 10759|
|               R| 3821| 10320| 10054| 10834| 10193|  9816|  7960|
|              NY|69942|283391|323105|311528|309883|300884|195832|
|              ST| 2409| 11104| 11432| 12462| 12445| 13162|  2755|
+----------------+-----+------+------+------+------+------+------+

In [25]:
df_pivot = df_temp.groupBy('Registration_State').pivot('Issue_DayofWeek').sum('count')
df_pivot = df_pivot.dropna(how='any')
df_pivot.show(100)

+------------------+------+------+------+------+------+------+------+
|Registration_State|     1|     2|     3|     4|     5|     6|     7|
+------------------+------+------+------+------+------+------+------+
|                AZ|   660|  1714|  2010|  2086|  2116|  2088|  1705|
|                SC|   498|  1765|  1784|  1541|  1843|  1767|  1197|
|                NS|    18|    64|    46|    39|    69|    48|    38|
|                LA|    80|   296|   298|   218|   328|   302|   167|
|                MN|    97|  1929|  1676|  1636|  1671|  1897|  1177|
|                NJ| 20403| 74933| 83198| 81906| 82570| 81754| 51061|
|                DC|   166|   308|   287|   180|   299|   365|   324|
|                OR|    76|   504|   518|   434|   535|   431|   124|
|                99|  1290|  2510|  2964|  2575|  2673|  2361|  1682|
|                VA|  2066|  5695|  5625|  4752|  5669|  6026|  4534|
|                RI|   417|   942|   961|   736|   910|   950|   898|
|                WY|     4|    35|    29|    22|    40|    33|    25|
|                KY|   111|   300|   297|   251|   290|   321|   225|
|                BC|     3|     7|    10|     7|    10|    12|     5|
|                NH|   254|   629|   673|   555|   689|   746|   573|
|                MI|   366|  1211|  1230|  1057|  1233|  1241|   893|
|                NV|    39|   123|   133|   110|   115|   123|    82|
|                GV|     8|    43|    95|    81|    59|    53|     9|
|                QB|   193|   327|   258|   207|   339|   374|   300|
|                WI|    87|   358|   414|   315|   374|   385|   194|
|                ID|    21|   125|   156|   111|   133|   161|    56|
|                CA|   502|  2060|  2221|  1679|  2144|  2154|  1393|
|                NE|    33|   118|   117|    82|   113|   135|   106|
|                CT|  4437| 11036| 11584|  9927| 11612| 11426| 10381|
|                MT|    19|    70|    97|    84|    85|    82|    68|
|                NC|  1405|  4572|  4704|  3939|  4670|  4620|  3242|
|                VT|   152|   602|   646|   488|   674|   676|   445|
|                MD|  1968|  4780|  4808|  4037|  4768|  5251|  4601|
|                DE|   499|  1247|  1321|  1188|  1314|  1267|  1069|
|                MO|    99|   383|   487|   392|   408|   443|   271|
|                IL|   683|  2730|  3552|  3043|  3174|  3333|  2151|
|                ME|   863|  1358|  1773|  1757|  1773|  1726|  1556|
|                WA|   124|   544|   521|   409|   528|   551|   375|
|                ND|    10|    44|    61|    41|    38|    43|    17|
|                MS|    67|   268|   306|   210|   294|   255|   182|
|                AL|   134|   527|   548|   461|   574|   583|   351|
|                IN|   306|  7684|  9000|  8274|  7816|  8450|  3995|
|                OH|   604|  2000|  2099|  1746|  2210|  2211|  1411|
|                TN|   527|  1336|  1489|  1337|  1411|  1503|   911|
|                NM|    26|   139|   149|   122|   135|   135|    86|
|                IA|    58|   317|   366|   310|   381|   337|   169|
|                PA|  7242| 22481| 24374| 20789| 23920| 24441| 17039|
|                SD|    31|   148|   153|   131|   183|   145|    68|
|                NY|162934|683711|760097|744465|763985|733316|425443|
|                ON|   185|   434|   369|   264|   396|   405|   407|
|                AB|     7|    14|    20|    10|    10|    11|     7|
|                PE|     2|     9|    15|     6|     6|    15|     8|
|                TX|   679|  3353|  3628|  2971|  3417|  3142|  1637|
|                WV|    74|   219|   207|   155|   228|   208|   174|
|                GA|   836|  2905|  3044|  2580|  3130|  3126|  1916|
|                MA|  2957|  6351|  6121|  4973|  5943|  6514|  6082|
|                KS|    22|   113|   115|    98|   154|   144|    60|
|                FL|  3392| 11500| 12121| 10752| 11910| 12065|  7728|
|                CO|    94|   314|   351|   240|   353|   301|   188|
|                AK|    16|    47|    60|    38|    53|    47|    37|
|                AR|    47|   152|   179|   138|   186|   198|    94|
|                NB|     4|    12|    11|     8|     7|     6|     9|
|                OK|   188|  1474|  1702|  1330|  1672|  1583|  1139|
|                PR|     1|     6|     6|    11|     5|     4|     5|
|                UT|    31|    91|   108|    76|    90|   107|    58|
|                HI|     8|    23|    28|    32|    24|    25|    16|
|                DP|   114|   368|   357|   290|   279|   196|   190|
+------------------+------+------+------+------+------+------+------+