In [1]:
import os
exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())

21/10/23 19:12:14 WARN Utils: Your hostname, Sumans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.100 instead (on interface en0)
21/10/23 19:12:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/10/23 19:12:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.0.3
      /_/

Using Python version 3.8.2 (default, Apr  8 2021 23:19:18)
SparkSession available as 'spark'.

#### First let's read in the processed and cleansed data

In [2]:
sc.addFile('/Users/sumangangopadhyay/complex-spark-transformations/config.py')

In [3]:
import config as cf
from pyspark.sql import functions as func
from pyspark.sql.types import IntegerType

In [4]:
clean_data_path = cf.clean_data_path()
primary_response_variables = cf.primary_response_variables().split(',')
secondary_response_variables = cf.secondary_response_variables().split(',')
primary_explanatory_variables = cf.primary_explanatory_variables().split(',')

In [5]:
df = spark.read.csv(clean_data_path, header=True)

#### Let us look for seasonality, i.e. if the incidents of violation are more in particular month(s). Note how the Issue_Month column is sorted using type casting, since this column wasn't derived as an integer before

In [6]:
df.groupBy(df.Issue_Month).count().orderBy(df.Issue_Month.cast(IntegerType())).show()

21/10/23 19:12:29 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+-------+
|Issue_Month|  count|
+-----------+-------+
|          1| 877365|
|          2| 826967|
|          3| 964737|
|          4| 888402|
|          5|1020244|
|          6| 852187|
|          7|    370|
|          8|    309|
|          9|    367|
|         10|    274|
|         11|    338|
|         12|    358|
+-----------+-------+

#### It is quite clear that the violations are most common during the first half of the year, so let's dig deeper in the first half

In [7]:
df_first6months = df.filter((df.Issue_Month.cast(IntegerType()) >= 1) \
                           | (df.Issue_Month.cast(IntegerType()) <= 6))

In [8]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofMonth).count()

In [9]:
df_temp.columns

['Issue_DayofMonth', 'count']

In [10]:
df_temp.createOrReplaceTempView('t_count_per_day_of_month')

In [11]:
df_temp_standardised = spark.sql("select \
                                 t1.Issue_DayofMonth, t1.count \
,round((t1.count - t2.avg_issue_count)/t2.stddev_issue_count,0) as standardised_issue_count \
,round((t1.count - t2.min_count)/(t2.max_count - t2.min_count),0) as normalised_issue_count \
from t_count_per_day_of_month t1 \
join \
(select avg(count) as avg_issue_count, stddev(count) as stddev_issue_count, min(count) as min_count \
,max(count) as max_count from t_count_per_day_of_month)t2 \
on 1=1")

In [12]:
df_temp_standardised.orderBy(df_temp_standardised.Issue_DayofMonth.cast(IntegerType())).show(40)

+----------------+------+------------------------+----------------------+
|Issue_DayofMonth| count|standardised_issue_count|normalised_issue_count|
+----------------+------+------------------------+----------------------+
|               1|192311|                     1.0|                   1.0|
|               2|195915|                     1.0|                   1.0|
|               3|225398|                     2.0|                   1.0|
|               4|179977|                     0.0|                   1.0|
|               5|162463|                     0.0|                   1.0|
|               6|211419|                     1.0|                   1.0|
|               7|179266|                     0.0|                   1.0|
|               8|187606|                     0.0|                   1.0|
|               9|170336|                     0.0|                   1.0|
|              10|182476|                     0.0|                   1.0|
|              11|166438|                     0.0|                   1.0|
|              12|162547|                     0.0|                   1.0|
|              13|202336|                     1.0|                   1.0|
|              14|140262|                    -1.0|                   0.0|
|              15|171100|                     0.0|                   1.0|
|              16|190189|                     0.0|                   1.0|
|              17|195997|                     1.0|                   1.0|
|              18|160471|                     0.0|                   1.0|
|              19|170672|                     0.0|                   1.0|
|              20|216504|                     1.0|                   1.0|
|              21|190748|                     0.0|                   1.0|
|              22|170821|                     0.0|                   1.0|
|              23|201773|                     1.0|                   1.0|
|              24|207561|                     1.0|                   1.0|
|              25|154025|                    -1.0|                   1.0|
|              26|158211|                    -1.0|                   1.0|
|              27|216891|                     1.0|                   1.0|
|              28|153615|                    -1.0|                   1.0|
|              29| 81421|                    -3.0|                   0.0|
|              30|131880|                    -1.0|                   0.0|
|              31|101289|                    -2.0|                   0.0|
+----------------+------+------------------------+----------------------+

#### From the Standardised scores of Days of Months above, it seems that the violations are more common in the start and end of the months

In [13]:
df.columns

['Summons_Number',
 'Plate_ID',
 'Registration_State',
 'Plate_Type',
 'Violation_Code',
 'Vehicle_Body_Type',
 'Vehicle_Make',
 'Issuing_Agency',
 'Street_Code1',
 'Street_Code2',
 'Street_Code3',
 'Vehicle_Expiration_Date',
 'Violation_Location',
 'Violation_Precinct',
 'Issuer_Precinct',
 'Issuer_Code',
 'Issuer_Command',
 'Issuer_Squad',
 'Violation_Time',
 'Time_First_Observed',
 'Violation_County',
 'Violation_In_Front_Of_Or_Opposite',
 'House_Number',
 'Street_Name',
 'Intersecting_Street',
 'Date_First_Observed',
 'Law_Section',
 'Sub_Division',
 'Violation_Legal_Code',
 'Vehicle_Color',
 'Vehicle_Year',
 'Meter_Number',
 'Feet_From_Curb',
 'Violation_Post_Code',
 'Violation_Description',
 'Violation_AM_or_PM',
 'Issue_Date',
 'Issue_Year',
 'Issue_Month',
 'Issue_DayofWeek',
 'Issue_DayofMonth',
 'Violation_Time_Hour']

In [14]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofWeek).count()

In [15]:
df_temp.createOrReplaceTempView('t_count_per_day_of_week')

In [16]:
df_temp.columns

['Issue_DayofWeek', 'count']

In [17]:
df_temp_standardised = spark.sql("select \
                                 t1.Issue_DayofWeek, t1.count \
,round((t1.count - t2.avg_issue_count)/t2.stddev_issue_count,0) as standardised_issue_count \
,round((t1.count - t2.min_count)/(t2.max_count - t2.min_count),0) as normalised_issue_count \
from t_count_per_day_of_week t1 \
join \
(select avg(count) as avg_issue_count, stddev(count) as stddev_issue_count, min(count) as min_count \
,max(count) as max_count from t_count_per_day_of_week)t2 \
on 1=1")

In [18]:
df_temp_standardised.orderBy(df_temp_standardised.Issue_DayofWeek.cast(IntegerType())).show(40)

+---------------+------+------------------------+----------------------+
|Issue_DayofWeek| count|standardised_issue_count|normalised_issue_count|
+---------------+------+------------------------+----------------------+
|              1|218238|                    -2.0|                   0.0|
|              2|869368|                     0.0|                   1.0|
|              3|961584|                     1.0|                   1.0|
|              4|927707|                     1.0|                   1.0|
|              5|962045|                     1.0|                   1.0|
|              6|932620|                     1.0|                   1.0|
|              7|560356|                    -1.0|                   0.0|
+---------------+------+------------------------+----------------------+

#### Quite expectedly, the violations are more during the weekdays

#### Let us now switch our attention towards a more fine-grained view to see if the violations of specific types (Laws) are being committed by specific type of vehicles (based on their registration states) at specific places (counties where these violations occured)

In [42]:
df_temp = df_first6months.groupBy(df_first6months.Issue_DayofWeek,\
                                 df_first6months.Violation_County,\
                                 df_first6months.Law_Section,\
                                 df_first6months.Registration_State)\
.count()

In [54]:
df_pivot = df_temp.groupBy('Law_Section','Violation_County','Registration_State').pivot('Issue_DayofWeek')\
.agg(func.sum('count').alias('count'))
df_pivot = df_pivot.dropna(how='any')
df_pivot.show(100)

+-----------+----------------+------------------+-----+-----+-----+-----+-----+-----+-----+
|Law_Section|Violation_County|Registration_State|    1|    2|    3|    4|    5|    6|    7|
+-----------+----------------+------------------+-----+-----+-----+-----+-----+-----+-----+
|        408|              BX|                CT|  621| 1767| 1804| 1533| 1839| 1889| 1801|
|        408|               Q|                ND|    1|    2|   11|    5|    7|    8|    5|
|       1111|              BX|                NC|   26|   19|   24|   26|   25|   34|   25|
|       1111|              BX|                VA|   26|   33|   37|   35|   37|   38|   37|
|        408|               R|                NJ|  141|  529|  516|  616|  549|  546|  307|
|        408|              BX|                IA|    3|   23|   30|   20|   22|   26|   18|
|       1111|              BX|                CA|    4|    5|    8|    2|    8|    5|    5|
|        408|               K|                WA|   34|  232|  265|  169|  220|  224|  141|
|        408|               K|                NV|    9|   27|   36|   22|   30|   33|   24|
|       1111|              BK|                DC|   15|    7|    2|    2|    5|    5|   11|
|        408|               K|                UT|    5|   29|   52|   23|   40|   42|   21|
|       1111|              MN|                VA|   19|   24|   23|   17|   20|   32|   16|
|        408|               Q|                CT|  589| 1643| 1658| 1488| 1624| 1581| 1724|
|        408|              BX|                MS|    6|   34|   26|   12|   19|   19|   20|
|        408|               Q|                AB|    1|    2|    1|    1|    3|    2|    1|
|        408|               Q|                NM|    2|   29|   26|   29|   26|   23|   18|
|       1111|              QN|                VA|  117|   86|   82|   73|   61|   87|   94|
|       1111|              QN|                UT|    4|    1|    1|    1|    2|    2|    1|
|        408|              BX|                TN|  185|  235|  256|  269|  285|  285|  285|
|        408|               Q|                WV|    6|   29|   33|   32|   22|   34|   29|
|        408|               K|                CO|   18|  120|  158|   78|  151|  116|   54|
|        408|              NY|                NH|  125|  233|  190|  173|  189|  244|  272|
|       1111|              BK|                NY| 9538| 9955| 9557|10414|10906|11667| 8424|
|        408|              NY|                AK|    7|    7|   11|   10|    5|    4|    8|
|        408|               R|                ME|    7|    7|    4|    7|    1|    5|    1|
|        408|               Q|                MD|  261|  752|  779|  708|  784|  818|  803|
|        408|               K|                MD|  386| 1361| 1394|  951| 1404| 1371| 1181|
|        408|              BX|                NH|   34|   71|   90|   64|   83|  104|   78|
|       1111|              BK|                MA|  107|   75|   56|   61|   61|  117|  115|
|       1111|              MN|                KY|    5|    1|    1|    2|    2|    2|    1|
|        408|              BX|                MI|   37|  142|  144|  108|  144|  138|  107|
|        408|              NY|                99|  296|  694|  970|  751|  782|  619|  393|
|        408|              NY|                WY|    4|   11|   11|   10|    9|   14|   13|
|        408|              NY|                BC|    1|    3|    8|    4|    5|    6|    2|
|        408|               R|                PA|   53|  144|  129|  133|  134|  142|  111|
|       1111|              MN|                FL|   31|   27|   29|   24|   28|   31|   23|
|       1111|              ST|                MA|    9|   10|    3|    6|    5|    8|    6|
|       1111|              MN|                OH|   10|    8|    4|    8|    9|   13|   10|
|        408|              NY|                NC|  436| 1100| 1136|  978| 1017| 1075|  998|
|       1111|              ST|                CA|    1|    1|    2|    2|    1|    2|    3|
|       1111|              BX|                CT|  171|  107|  103|  111|  110|  120|  151|
|        408|              BX|                OK|   26|  187|  171|  133|  165|  179|   66|
|        408|               K|                99|  337|  739|  769|  730|  694|  720|  485|
|        408|              NY|                MA| 1558| 2438| 2266| 1870| 2177| 2367| 3024|
|        408|              BX|                IN|   34|  228|  376|  319|  292|  381|  118|
|       1111|              ST|                PA|   50|   51|   42|   51|   40|   59|   63|
|        408|               K|                WI|   16|  117|  124|   65|  103|  104|   60|
|        408|               Q|                TX|   95|  510|  538|  502|  441|  500|  333|
|        408|              BX|                SD|    2|    7|   20|   14|   12|   18|    9|
|        408|               Q|                IN|   45|  449|  569|  586|  583|  550|  232|
|       1111|              BX|                OH|    8|   11|    8|   10|   12|   11|    8|
|       1111|              BK|                MS|    2|    4|    7|    5|    5|    5|    2|
|        408|               K|                QB|   43|  122|   99|   82|  141|  147|   71|
|        408|              BX|                NM|    2|    4|    8|   13|   10|   11|    7|
|        408|              NY|                AZ|  307|  713|  845|  879|  903|  893|  910|
|        408|              NY|                AL|   49|  118|  128|  110|  121|  132|  109|
|       1111|              BX|                RI|    7|    4|    5|    4|    2|    8|   11|
|       1111|              ST|                MD|   13|    5|    6|    8|    9|    7|   10|
|       1111|              BK|                OH|   23|   28|   23|   31|   22|   32|   20|
|       1111|              QN|                DC|    3|    2|    3|    3|    3|    7|    4|
|        408|               Q|                KY|   14|   62|   48|   40|   35|   47|   32|
|        408|              NY|                NJ|11486|43799|48711|49157|47165|46845|30826|
|        408|              BX|                AK|    2|    6|    2|    7|    2|    3|    3|
|        408|               Q|                DP|    5|   17|   16|    9|   21|   20|   18|
|        408|               Q|                PA|  806| 3049| 3215| 2912| 3254| 3176| 2580|
|       1111|              BK|                MD|  130|   78|   84|   80|   91|  132|  119|
|        408|              NY|                HI|    4|    2|    5|    1|    6|    4|    5|
|       1111|              BX|                GA|   15|   21|   18|   17|   18|   16|   12|
|        408|               K|                GV|    3|   17|   26|   11|   12|    8|    1|
|        408|              NY|                QB|  140|  163|  116|   93|  145|  155|  177|
|       1111|              ST|                VA|   13|   11|    5|   10|    5|   10|   15|
|       1111|              BK|                MO|    7|    5|    2|    6|    3|    4|    3|
|        408|              NY|                WI|   32|  116|  143|  137|  139|  150|   82|
|        408|              BX|                MA|  355|  686|  668|  545|  628|  667|  741|
|        408|              NY|                IL|  259|  955| 1394| 1260| 1259| 1386|  931|
|        408|              NY|                IA|   15|  108|  104|   95|  105|  101|   77|
|        408|               R|                AZ|    2|    3|    6|    7|    8|    3|    5|
|       1111|              QN|                FL|  184|  147|  142|  182|  167|  178|  178|
|        408|              NY|                ID|    3|   61|   40|   29|   38|   59|   17|
|        408|              BX|                HI|    1|    7|    6|    6|    2|    5|    3|
|       1111|              BK|                WA|    5|    7|    4|    4|    2|    5|    3|
|        408|               Q|                IL|  128|  504|  579|  519|  558|  518|  413|
|        408|              NY|                CT| 2007| 4217| 4474| 3974| 4389| 4188| 4666|
|       1111|              QN|                CA|   25|   17|   19|   14|   23|   15|   29|
|       1111|              BK|                KY|    6|    3|    1|    7|    5|    6|    6|
|        408|               Q|                CO|    9|   46|   54|   49|   63|   42|   27|
|        408|               K|                CA|  116|  750|  861|  526|  787|  721|  397|
|        408|              BX|                VA|  218|  649|  655|  532|  644|  701|  580|
|        408|              NY|                NM|   13|   50|   52|   46|   47|   47|   31|
|        408|               K|                IN|   40|  386|  400|  459|  409|  328|  176|
|       1111|              ST|                FL|   34|   29|   25|   23|   33|   25|   25|
|        408|              BX|                99|  260|  406|  459|  380|  437|  358|  267|
|        408|               Q|                NJ| 1281| 5893| 6328| 6396| 6587| 6676| 5216|
|        408|              NY|                GA|  212|  501|  546|  426|  514|  527|  518|
|       1111|              MN|                TX|    4|   10|    7|    6|    7|   11|    4|
|       1111|              BK|                AR|    4|    1|    2|    3|    3|    2|    1|
|        408|              NY|                IN|  180| 6590| 7596| 6851| 6479| 7159| 3456|
|        408|               Q|                AZ|   65|  193|  230|  261|  275|  280|  199|
|        408|              BX|                QB|    2|    9|   13|    9|   15|   20|    9|
|        408|               K|                ND|    4|   24|   23|   23|   17|   19|    7|
+-----------+----------------+------------------+-----+-----+-----+-----+-----+-----+-----+
only showing top 100 rows

In [25]:
df_temp.groupBy('Law_Section').pivot('Issue_DayofWeek').sum('count').show(100)

+-----------+------+------+------+------+------+------+------+
|Law_Section|     1|     2|     3|     4|     5|     6|     7|
+-----------+------+------+------+------+------+------+------+
|       1111| 34443| 35862| 34880| 38101| 39287| 42399| 33278|
|        408|183795|716190|798817|742957|791164|750898|527078|
|         40|  null|  null|  null|  null|  null|     1|  null|
|       1180|  null|117314|127887|146649|131594|139321|  null|
|       6408|  null|     2|  null|  null|  null|  null|  null|
|       3040|  null|  null|  null|  null|  null|     1|  null|
+-----------+------+------+------+------+------+------+------+

In [26]:
df_temp.groupBy('Violation_County').pivot('Issue_DayofWeek').sum('count').show(100)

+----------------+-----+------+------+------+------+------+------+
|Violation_County|    1|     2|     3|     4|     5|     6|     7|
+----------------+-----+------+------+------+------+------+------+
|               K|48271|180749|206674|171812|206556|184264|126507|
|              MN| 2361|  6931|  6944|  7133|  7213|  7925|  2414|
|               Q|31438|149151|158740|159233|163532|155902|121437|
|              BX|32732|109182|118499|110442|119448|121496| 77730|
|            null| 1660|  2696|  2936|  2767|  2847|  2446|  1737|
|              QN|13373| 49600| 53168| 63327| 56714| 62787| 13225|
|             QNS| null|  null|  null|  null|  null|     1|  null|
|              BK|12231| 66244| 70032| 78169| 73213| 73937| 10759|
|           BRONX| null|  null|  null|  null|     1|  null|  null|
|               R| 3821| 10320| 10054| 10834| 10193|  9816|  7960|
|              NY|69942|283391|323105|311528|309883|300884|195832|
|              ST| 2409| 11104| 11432| 12462| 12445| 13162|  2755|
+----------------+-----+------+------+------+------+------+------+

In [55]:
df_temp.groupBy('Registration_State').pivot('Issue_DayofWeek').sum('count').show(100)

+------------------+------+------+------+------+------+------+------+
|Registration_State|     1|     2|     3|     4|     5|     6|     7|
+------------------+------+------+------+------+------+------+------+
|                AZ|   660|  1714|  2010|  2086|  2116|  2088|  1705|
|                SC|   498|  1765|  1784|  1541|  1843|  1767|  1197|
|                NS|    18|    64|    46|    39|    69|    48|    38|
|                LA|    80|   296|   298|   218|   328|   302|   167|
|                MN|    97|  1929|  1676|  1636|  1671|  1897|  1177|
|                NJ| 20403| 74933| 83198| 81906| 82570| 81754| 51061|
|                DC|   166|   308|   287|   180|   299|   365|   324|
|                OR|    76|   504|   518|   434|   535|   431|   124|
|                99|  1290|  2510|  2964|  2575|  2673|  2361|  1682|
|                VA|  2066|  5695|  5625|  4752|  5669|  6026|  4534|
|                RI|   417|   942|   961|   736|   910|   950|   898|
|                WY|     4|    35|    29|    22|    40|    33|    25|
|                KY|   111|   300|   297|   251|   290|   321|   225|
|                BC|     3|     7|    10|     7|    10|    12|     5|
|                NH|   254|   629|   673|   555|   689|   746|   573|
|                MI|   366|  1211|  1230|  1057|  1233|  1241|   893|
|                NV|    39|   123|   133|   110|   115|   123|    82|
|                GV|     8|    43|    95|    81|    59|    53|     9|
|                QB|   193|   327|   258|   207|   339|   374|   300|
|                WI|    87|   358|   414|   315|   374|   385|   194|
|                ID|    21|   125|   156|   111|   133|   161|    56|
|                CA|   502|  2060|  2221|  1679|  2144|  2154|  1393|
|                NE|    33|   118|   117|    82|   113|   135|   106|
|                CT|  4437| 11036| 11584|  9927| 11612| 11426| 10381|
|                MT|    19|    70|    97|    84|    85|    82|    68|
|                NC|  1405|  4572|  4704|  3939|  4670|  4620|  3242|
|                VT|   152|   602|   646|   488|   674|   676|   445|
|                MD|  1968|  4780|  4808|  4037|  4768|  5251|  4601|
|                DE|   499|  1247|  1321|  1188|  1314|  1267|  1069|
|                MO|    99|   383|   487|   392|   408|   443|   271|
|                IL|   683|  2730|  3552|  3043|  3174|  3333|  2151|
|                ME|   863|  1358|  1773|  1757|  1773|  1726|  1556|
|                MB|  null|     5|     4|     2|     3|     2|     1|
|                WA|   124|   544|   521|   409|   528|   551|   375|
|                ND|    10|    44|    61|    41|    38|    43|    17|
|                MS|    67|   268|   306|   210|   294|   255|   182|
|                AL|   134|   527|   548|   461|   574|   583|   351|
|                IN|   306|  7684|  9000|  8274|  7816|  8450|  3995|
|                OH|   604|  2000|  2099|  1746|  2210|  2211|  1411|
|                TN|   527|  1336|  1489|  1337|  1411|  1503|   911|
|                NM|    26|   139|   149|   122|   135|   135|    86|
|                IA|    58|   317|   366|   310|   381|   337|   169|
|                PA|  7242| 22481| 24374| 20789| 23920| 24441| 17039|
|                SD|    31|   148|   153|   131|   183|   145|    68|
|                FO|     1|     2|     2|     1|     1|  null|     1|
|                NY|162934|683711|760097|744465|763985|733316|425443|
|                ON|   185|   434|   369|   264|   396|   405|   407|
|                SK|  null|     3|     1|     2|     3|  null|  null|
|                AB|     7|    14|    20|    10|    10|    11|     7|
|                PE|     2|     9|    15|     6|     6|    15|     8|
|                TX|   679|  3353|  3628|  2971|  3417|  3142|  1637|
|                WV|    74|   219|   207|   155|   228|   208|   174|
|                GA|   836|  2905|  3044|  2580|  3130|  3126|  1916|
|                MA|  2957|  6351|  6121|  4973|  5943|  6514|  6082|
|                KS|    22|   113|   115|    98|   154|   144|    60|
|                FL|  3392| 11500| 12121| 10752| 11910| 12065|  7728|
|                CO|    94|   314|   351|   240|   353|   301|   188|
|                AK|    16|    47|    60|    38|    53|    47|    37|
|                AR|    47|   152|   179|   138|   186|   198|    94|
|                NB|     4|    12|    11|     8|     7|     6|     9|
|                OK|   188|  1474|  1702|  1330|  1672|  1583|  1139|
|                PR|     1|     6|     6|    11|     5|     4|     5|
|                UT|    31|    91|   108|    76|    90|   107|    58|
|                HI|     8|    23|    28|    32|    24|    25|    16|
|                DP|   114|   368|   357|   290|   279|   196|   190|
+------------------+------+------+------+------+------+------+------+